<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.healthyme.mapper.boardMapper">

	<insert id="insert">
		insert into board (title, content, writer, category_idx)
		values(#{title},#{content}, #{writer}, #{categoryIdx})
	</insert>

	<select id="select" resultType="BoardVO">
		select *
		from board
		where board_idx = #{boardIdx};
	</select>

	<update id="update">
		update board set title =#{title}, content =#{content}
		where board_idx = #{boardIdx};
	</update>

	<delete id="delete">
		delete from board where board_idx = #{boardIdx};
	</delete>

	<select id="listCriteria" resultType="BoardVO">
	 <![CDATA[
	 select board_idx, category_idx, title, content, writer, reg_date, view_cnt, reply_cnt 
	 from board
	 where board_idx > 0 AND category_idx = #{categoryIdx}
	 ]]>
	 <include refid="searchWhere"></include>
	 <![CDATA[
	 order by board_idx desc, reg_date desc
	 limit #{pageStart}, #{perPageNum}
	 ]]>
	</select>

	<select id="countPaging" resultType="int">
	 <![CDATA[
	 select count(board_idx) 
	 from board 
	 where board_idx > 0 AND category_idx = #{categoryIdx}
	 ]]>
	<include refid="searchWhere"></include>
	</select>




	<sql id="searchWhere">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				and writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				and (title like CONCAT('%', #{keyword},'%') OR content like CONCAT('%',
				#{keyword}, '%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				and (content like CONCAT('%', #{keyword}, '%') OR writer like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'tcw'.toString()">
				and (title like CONCAT('%', #{keyword}, '%')
				OR
				content like CONCAT('%', #{keyword}, '%')
				OR
				writer like CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
	</sql>
</mapper>